openapi: 3.0.0

info:
  version: '1.0'
  title: 'ManageMe Web API'
  description: 'API Specification for ManageMe Project Management Platform'

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

tags:
  - name: 'M01: Authentication and User Management'
  - name: 'M02: Projects and Tasks'
  - name: 'M03: Administration'

paths:
  /:
    get:
      operationId: 'redirectHome'
      summary: 'Redirect to login'
      description: 'Redirects the root URL to the login page.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '302':
          description: 'Redirected to /login'

  /login:
    get:
      operationId: 'R101'
      summary: 'R101: Login form'
      description: 'Displays the login form for users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Login form displayed'
    post:
      operationId: 'R102'
      summary: 'R102: Authenticate user'
      description: 'Authenticates the user and starts a session.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: 'User authenticated'
        '401':
          description: 'The provided credentials do not match our records'

  /logout:
    get:
      operationId: 'R103'
      summary: 'R103: Logout user'
      description: 'Ends the user session.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User logged out'
    post:
      operationId: 'R104'
      summary: 'R104: Logout user'
      description: 'Ends the user session.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User logged out'

  /register:
    get:
      operationId: 'R105'
      summary: 'R105: Show registration form'
      description: 'Displays the registration form for new users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Registration form displayed'
    post:
      operationId: 'R106'
      summary: 'R106: Register user'
      description: 'Registers a new user.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '201':
          description: 'User registered'
        '400':
          description: 'Invalid input'

  /profile:
    get:
      operationId: 'R107'
      summary: 'R107: Show profile'
      description: 'Displays user profile information.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Profile displayed'

  /profile/update:
    put:
      operationId: 'R108'
      summary: 'R108: Update profile'
      description: 'Updates user profile details.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
      responses:
        '200':
          description: 'Profile updated'

  /profile/remove-image:
    delete:
      operationId: 'R109'
      summary: 'R109: Remove profile image'
      description: 'Deletes the user profile image.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '204':
          description: 'Profile image removed'

  /home:
    get:
      operationId: 'R110'
      summary: 'R110: Show user details'
      description: 'Displays the user details (username and email).'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User details displayed'

  /pleading:
    get:
      operationId: 'R111'
      summary: 'R111: Show pleading form'
      description: 'Displays the pleading form for suspended users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Pleading form displayed'
    post:
      operationId: 'R112'
      summary: 'R112: Submit pleading form'
      description: 'Submits the pleading form for suspension appeal.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '201':
          description: 'Plea submitted'

  /projects:
    post:
      operationId: 'R201'
      summary: 'R201: Create project'
      description: 'Creates a new project.'
      tags:
        - 'M02: Projects and Tasks'
      responses:
        '201':
          description: 'Project created'

  /projects/{project}:
    get:
      operationId: 'R202'
      summary: 'R202: View project'
      description: 'Displays project details.'
      tags:
        - 'M02: Projects and Tasks'
      responses:
        '200':
          description: 'Project details displayed'
    delete:
      operationId: 'R203'
      summary: 'R203: Delete project'
      description: 'Deletes a project.'
      tags:
        - 'M02: Projects and Tasks'
      responses:
        '204':
          description: 'Project deleted'

  /projects/{project}/tasks:
    post:
      operationId: 'R204'
      summary: 'R204: Add task'
      description: 'Adds a new task to the project.'
      tags:
        - 'M02: Projects and Tasks'
      responses:
        '201':
          description: 'Task added'

  /projects/{project}/tasks/{task}:
    get:
      operationId: 'R205'
      summary: 'R205: View task details'
      description: 'Displays details of a specific task within a project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - name: project
          in: path
          required: true
          schema:
            type: integer
          description: 'Project ID'
        - name: task
          in: path
          required: true
          schema:
            type: integer
          description: 'Task ID'
      responses:
        '200':
          description: 'Task details displayed'
    put:
      operationId: 'R206'
      summary: 'R206: Update task'
      description: 'Updates details of a specific task within a project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - name: project
          in: path
          required: true
          schema:
            type: integer
          description: 'Project ID'
        - name: task
          in: path
          required: true
          schema:
            type: integer
          description: 'Task ID'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                due_date:
                  type: string
                  format: date
              required:
                - name
                - description
      responses:
        '200':
          description: 'Task updated'
    delete:
      operationId: 'R207'
      summary: 'R207: Delete task'
      description: 'Deletes a specific task from a project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - name: project
          in: path
          required: true
          schema:
            type: integer
          description: 'Project ID'
        - name: task
          in: path
          required: true
          schema:
            type: integer
          description: 'Task ID'
      responses:
        '204':
          description: 'Task deleted'

  /admin/users:
    get:
      operationId: 'R301'
      summary: 'R301: View all users'
      description: 'Displays a list of all users for administrative purposes.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'List of users displayed'

  /admin/users/{user}/suspend:
    post:
      operationId: 'R302'
      summary: 'R302: Suspend user'
      description: 'Suspends a user account.'
      tags:
        - 'M03: Administration'
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: integer
          description: 'User ID'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: 'Reason for suspension'
              required:
                - reason
      responses:
        '200':
          description: 'User suspended'

  /admin/users/{user}/unsuspend:
    post:
      operationId: 'R303'
      summary: 'R303: Unsuspend user'
      description: 'Reinstates a suspended user account.'
      tags:
        - 'M03: Administration'
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: integer
          description: 'User ID'
      responses:
        '200':
          description: 'User unsuspended'

  /admin/projects:
    get:
      operationId: 'R304'
      summary: 'R304: View all projects'
      description: 'Displays a list of all projects for administrative purposes.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'List of projects displayed'

  /admin/projects/{project}/delete:
    delete:
      operationId: 'R305'
      summary: 'R305: Delete project as admin'
      description: 'Deletes a specific project for administrative purposes.'
      tags:
        - 'M03: Administration'
      parameters:
        - name: project
          in: path
          required: true
          schema:
            type: integer
          description: 'Project ID'
      responses:
        '204':
          description: 'Project deleted'

  /admin/reports:
    get:
      operationId: 'R306'
      summary: 'R306: View reports'
      description: 'Displays administrative reports.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'Reports displayed'
