
openapi: 3.0.0

info:
  version: '1.0'
  title: 'ManageMe Web API'
  description: 'API Specification for ManageMe Project Management Platform'

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

tags:
  - name: 'M01: Authentication and User Management'
  - name: 'M02: Administration'
  - name: 'M03: Projects and Tasks'

paths:
  /login:
    get:
      operationId: 'R101'
      summary: 'R101: Login form'
      description: 'Displays the login form for users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Login form displayed'
    post:
      operationId: 'R102'
      summary: 'R102: Authenticate user'
      description: 'Authenticates the user and starts a session.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: 'User authenticated'
        '401':
          description: 'The provided credentials do not match our records'

  /logout:
    post:
      operationId: 'R103'
      summary: 'R103: Logout user'
      description: 'Ends the user session.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User logged out'

  /register:
    get:
      operationId: 'R104'
      summary: 'R104: Show registration form'
      description: 'Displays the registration form for new users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Registration form displayed'
    post:
      operationId: 'R105'
      summary: 'R105: Register user'
      description: 'Registers a new user.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: 'User registered'
        '400':
          description: 'Invalid input'

  /profile:
    get:
      operationId: 'R106'
      summary: 'R106: Show profile'
      description: 'Displays user profile information.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Profile displayed'
    put:
      operationId: 'R107'
      summary: 'R107: Update profile'
      description: 'Updates user profile details.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
      responses:
        '200':
          description: 'Profile updated'
    delete:
      operationId: 'R108'
      summary: 'R108: Remove profile image'
      description: 'Deletes the user profile image.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '204':
          description: 'Profile image removed'

  /admin/dashboard:
    get:
      operationId: 'R201'
      summary: 'R201: Admin dashboard'
      description: 'Displays the admin dashboard.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'Admin dashboard displayed'

  /projects:
    post:
      operationId: 'R301'
      summary: 'R301: Create new project'
      description: 'Stores a new project in the system.'
      tags:
        - 'M03: Projects and Tasks'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: 'Project created'

  /projects/{project}:
    get:
      operationId: 'R302'
      summary: 'R302: View project'
      description: 'Displays details of a specific project.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Project details displayed'
    delete:
      operationId: 'R303'
      summary: 'R303: Delete project'
      description: 'Deletes a specific project.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Project deleted'

  /projects/{project}/tasks:
    get:
      operationId: 'R304'
      summary: 'R304: View tasks'
      description: 'Displays tasks under a project.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Tasks displayed'
    post:
      operationId: 'R305'
      summary: 'R305: Create task'
      description: 'Adds a new task to the project.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: 'Task created'

  /tasks/{task}:
    put:
      operationId: 'R306'
      summary: 'R306: Update task'
      description: 'Updates details of a task.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: 'Task updated'
    delete:
      operationId: 'R307'
      summary: 'R307: Delete task'
      description: 'Deletes a task from the project.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Task deleted'

  /projects/create:
    get:
      operationId: 'R308'
      summary: 'R308: Create project form'
      description: 'Displays the form to create a new project.'
      tags:
        - 'M03: Projects and Tasks'
      responses:
        '200':
          description: 'Project creation form displayed'

  /projects/{project}/tasks/create:
    get:
      operationId: 'R309'
      summary: 'R309: Create task form'
      description: 'Displays the form to create a new task under a project.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Task creation form displayed'

  /my-projects:
    get:
      operationId: 'R310'
      summary: 'R310: My projects'
      description: 'Displays the projects owned by the authenticated user.'
      tags:
        - 'M03: Projects and Tasks'
      responses:
        '200':
          description: 'User projects displayed'

  /search-projects:
    get:
      operationId: 'R311'
      summary: 'R311: Search projects'
      description: 'Search for projects based on criteria.'
      tags:
        - 'M03: Projects and Tasks'
      responses:
        '200':
          description: 'Search results displayed'

  /tasks/{task}/edit:
    get:
      operationId: 'R312'
      summary: 'R312: Edit task form'
      description: 'Displays the form to edit a task.'
      tags:
        - 'M03: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Task edit form displayed'