openapi: 3.0.0

info:
  version: '1.0'
  title: 'ManageMe Web API'
  description: 'API Specification for ManageMe Project Management Platform'

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

tags:
  - name: 'M01: Authentication and User Management'
  - name: 'M02: Projects and Tasks'
  - name: 'M03: Administration'

paths:
  /login:
    get:
      operationId: 'R101'
      summary: 'R101: Login form'
      description: 'Displays the login form for users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Login form displayed'
    post:
      operationId: 'R102'
      summary: 'R102: Authenticate user'
      description: 'Authenticates the user and starts a session.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: 'User authenticated'
        '401':
          description: 'The provided credentials do not match our records'

  /logout:
    get:
      operationId: 'R103'
      summary: 'R103: Logout user'
      description: 'Ends the user session.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User logged out'
    post:
      operationId: 'R104'
      summary: 'R104: Logout user'
      description: 'Ends the user session.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User logged out'

  /register:
    get:
      operationId: 'R105'
      summary: 'R105: Show registration form'
      description: 'Displays the registration form for new users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Registration form displayed'
    post:
      operationId: 'R106'
      summary: 'R106: Register user'
      description: 'Registers a new user.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: 'User registered'
        '400':
          description: 'Invalid input'

  /profile:
    get:
      operationId: 'R107'
      summary: 'R107: Show profile'
      description: 'Displays user profile information.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Profile displayed'

  /profile/update:
    put:
      operationId: 'R108'
      summary: 'R108: Update profile'
      description: 'Updates user profile details.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
      responses:
        '200':
          description: 'Profile updated'

  /profile/remove-image:
    delete:
      operationId: 'R109'
      summary: 'R109: Remove profile image'
      description: 'Deletes the user profile image.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '204':
          description: 'Profile image removed'
  
  /home:
    get:
      operationId: 'R110'
      summary: 'R110: Show user details'
      description: 'Displays the user details (username and email).'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User details displayed'

  /admin/dashboard:
    get:
      operationId: 'R301'
      summary: 'R301: Admin dashboard'
      description: 'Displays the admin dashboard.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'Admin dashboard displayed'

  /supersecretlogin:
    get:
      operationId: 'R302'
      summary: 'R302: Admin login form'
      description: 'Displays the admin login form.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'Admin login form displayed'
    post:
      operationId: 'R303'
      summary: 'R303: Admin login'
      description: 'Authenticates the admin user.'
      tags:
        - 'M03: Administration'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
      responses:
        '200':
          description: 'Admin authenticated'
        '401':
          description: 'The provided credentials do not match our records'

  /admin/logout:
    post:
      operationId: 'R304'
      summary: 'R304: Admin logout'
      description: 'Ends the admin user session.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'Admin logged out'

  /projects:
    post:
      operationId: 'R201'
      summary: 'R201: Create new project'
      description: 'Stores a new project in the system.'
      tags:
        - 'M02: Projects and Tasks'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: 'Project created'

  /projects/{project}:
    get:
      operationId: 'R202'
      summary: 'R202: View project'
      description: 'Displays details of a specific project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Project details displayed'
    delete:
      operationId: 'R203'
      summary: 'R203: Delete project'
      description: 'Deletes a specific project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Project deleted'

  /projects/create:
    get:
      operationId: 'R204'
      summary: 'R204: Create project form'
      description: 'Displays the form to create a new project.'
      tags:
        - 'M02: Projects and Tasks'
      responses:
        '200':
          description: 'Project creation form displayed'

  /projects/{project}/tasks:
    get:
      operationId: 'R205'
      summary: 'R205: View tasks'
      description: 'Displays tasks under a project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Tasks displayed'
    post:
      operationId: 'R206'
      summary: 'R206: Create task'
      description: 'Adds a new task to the project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: 'Task created'

  /projects/{project}/tasks/create:
    get:
      operationId: 'R207'
      summary: 'R207: Create task form'
      description: 'Displays the form to create a new task under a project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Task creation form displayed'

  /my-projects:
    get:
      operationId: 'R208'
      summary: 'R208: My projects'
      description: 'Displays the projects owned by the authenticated user.'
      tags:
        - 'M02: Projects and Tasks'
      responses:
        '200':
          description: 'User projects displayed'

  /search-projects:
    get:
      operationId: 'R209'
      summary: 'R209: Search projects'
      description: 'Search for projects based on criteria.'
      tags:
        - 'M02: Projects and Tasks'
      responses:
        '200':
          description: 'Search results displayed'

  /tasks/{task}:
    put:
      operationId: 'R210'
      summary: 'R210: Update task'
      description: 'Updates details of a task.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: 'Task updated'
    delete:
      operationId: 'R211'
      summary: 'R211: Delete task'
      description: 'Deletes a task from the project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Task deleted'

  /tasks/{task}/edit:
    get:
      operationId: 'R212'
      summary: 'R212: Edit task form'
      description: 'Displays the form to edit a task.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Task edit form displayed'
