openapi: 3.0.0

info:
  version: '1.0'
  title: 'ManageMe Web API'
  description: 'API Specification for ManageMe Project Management Platform'

servers:
  - url: http://lbaw.fe.up.pt
    description: Production server

tags:
  - name: 'M01: Authentication and User Management'
  - name: 'M02: Projects and Tasks'
  - name: 'M03: Administration'

paths:
  /login:
    get:
      operationId: 'R101'
      summary: 'Show login form'
      description: 'Displays the login form for users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Login form displayed'
    post:
      operationId: 'R102'
      summary: 'Authenticate user'
      description: 'Authenticates the user and starts a session.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: 'User authenticated'
        '401':
          description: 'Invalid credentials'

  /logout:
    post:
      operationId: 'R103'
      summary: 'Logout user'
      description: 'Ends the user session.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'User logged out'

  /register:
    get:
      operationId: 'R104'
      summary: 'Show registration form'
      description: 'Displays the registration form for new users.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Registration form displayed'
    post:
      operationId: 'R105'
      summary: 'Register user'
      description: 'Registers a new user.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: 'User registered'
        '400':
          description: 'Invalid input'

  /profile:
    get:
      operationId: 'R106'
      summary: 'Show profile'
      description: 'Displays user profile information.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '200':
          description: 'Profile displayed'
    put:
      operationId: 'R107'
      summary: 'Update profile'
      description: 'Updates user profile details.'
      tags:
        - 'M01: Authentication and User Management'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
      responses:
        '200':
          description: 'Profile updated'
    delete:
      operationId: 'R108'
      summary: 'Remove profile image'
      description: 'Deletes the user\'s profile image.'
      tags:
        - 'M01: Authentication and User Management'
      responses:
        '204':
          description: 'Profile image removed'

  /admin/dashboard:
    get:
      operationId: 'R201'
      summary: 'Admin dashboard'
      description: 'Displays the admin dashboard.'
      tags:
        - 'M03: Administration'
      responses:
        '200':
          description: 'Admin dashboard displayed'

  /projects:
    post:
      operationId: 'R301'
      summary: 'Create new project'
      description: 'Stores a new project in the system.'
      tags:
        - 'M02: Projects and Tasks'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: 'Project created'

  /projects/{project}:
    get:
      operationId: 'R302'
      summary: 'View project'
      description: 'Displays details of a specific project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Project details displayed'
    delete:
      operationId: 'R303'
      summary: 'Delete project'
      description: 'Deletes a specific project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Project deleted'

  /projects/{project}/tasks:
    get:
      operationId: 'R304'
      summary: 'View tasks'
      description: 'Displays tasks under a project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'Tasks displayed'
    post:
      operationId: 'R305'
      summary: 'Create task'
      description: 'Adds a new task to the project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: 'Task created'

  /tasks/{task}:
    put:
      operationId: 'R306'
      summary: 'Update task'
      description: 'Updates details of a task.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: 'Task updated'
    delete:
      operationId: 'R307'
      summary: 'Delete task'
      description: 'Deletes a task from the project.'
      tags:
        - 'M02: Projects and Tasks'
      parameters:
        - in: path
          name: task
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: 'Task deleted'
